**/.DS_Store
**.log
.idea/
.vscode/
_test-output/
coverage/
node_modules/

yarn.lock
yarn-error.log

bundle/*
!bundle/*.d.ts
!bundle/**/
bundle/**/*.js
bundle/**/*.js.map
bundle/**/*.html
bundle/**/*.css
bundle/**/*.scss
!bundle/module.umd.js

demo/app/**/*.js
demo/app/**/*.js.map
